- messages.each do |msg|
  = content_tag(:div, class: 'timeline-message', data: { message_id: msg.id }) do
    .timeline-message__user
      .timeline-message__user__name
        = msg.user.name
      .timeline-message__user__date
        = msg.created_time
    .timeline-message__text
      = msg.comment
    - if msg.image.present?
      = image_tag msg.image, class: 'timeline-message__image'
