#main
  = render 'application/main_sidebar', groups: @groups
  #main-chatBox
    .info
      .info-desc
        .info-desc__name
          = @group.name
        .info-desc__members
          %span MEMBER
          - @group.users.each do |user|
            = user.name
      = link_to edit_group_path(@group.id) do
        .info-edit
          %span edit
    .timeline
      - @group.messages.each do |msg|
        .timeline-message
          .timeline-message__user
            .timeline-message__user__name
              = msg.user.name
            .timeline-message__user__date
              = msg.created_at
          .timeline-message__text
            = msg.comment
    .input
      = form_for @message do |f|
        .input-area
          = f.text_field :comment, placeholder: 'ここにメッセージをどうぞ', class: 'input-area__text'
          .input-area__file
            = fa_icon "file-image-o"
        = f.submit 'SEND', class: 'input-send'
