.auth
  .auth-inner.clearfix
    .auth-inner__left
      %h2 log in
      .desc
        登録しているユーザーでログイン
      .action
        = link_to '未登録の方はこちら', new_user_registration_path, class: 'action-btn'
    .auth-inner__right
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          .field-title
            = f.label :email
          = f.email_field :email, autofocus: true, class: 'field-input'
        .field
          .field-title
            = f.label :password
            %i (英数字8文字以上)
          = f.password_field :password, autocomplete: "off", class: 'field-input'
        .submit
          = f.submit "ログイン", class: 'submit-btn'
