#main-sideBar
  .user
    .user-inner
      .user-inner__name__text
        = current_user.name
      .user-inner__name__edit
        = link_to new_group_path do
          = fa_icon "pencil-square-o"
        = link_to edit_user_registration_path do
          = fa_icon "cog"
  .room
    .room-desc
      .room-desc__name
        hogehoge_room
      .room-desc__message
        hello!今日もいい天気だねー！
    .room-desc
      .room-desc__name
        hogehoge_room
      .room-desc__message
        hello!今日もいい天気だねー！
    .room-desc
      .room-desc__name
        hogehoge_room
      .room-desc__message
